# =========================
# Java / Spring Boot
# =========================
*.class
*.log

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Spring Boot
application-local.yml

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Compiled files
bin/
build/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.properties

# H2 database files (if you use H2 later)
*.mv.db
*.trace.db